@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;
}

body{
    background-image: url("../src/assets/images/bacround.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

iframe{
    width: 100%;
}